{%extends 'all-news/base.html'%} 
{% load bootstrap3 %}


{% block content %}
{{ block.super}}

<div class="container">

  <!-- Looping through news   -->
  
<div class="row">
  {% for news_item in news %}

  
    <!-- displaying News articles -->
   
      <h2> {{ news_item.title }} </h2>
    </div>

      <img src="{{news_item.article_image.url}}" class="img-responsive" alt="Image"n width="400" height="500px">
    </div>

  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No News Items</h2>
  </div>
  {% endfor %}

<br>
  <div class="container-fluid container">

    <form  action="{%url 'newsToday'%}" method="post">
      {%csrf_token%}
  
      {% bootstrap_form letterForm layout='inline' %}
      <input type="submit" value="Subscribe">
    </form>
  
  </div>

</div>

{% endblock %}